<?php

?>

<form method="POST" class="generic-form">
    <?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 1): ?>
        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName" value="<?=$_SESSION['user']['Firstname'] ?>">
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName" value="<?=$_SESSION['user']['Lastname'] ?>">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="<?=$_SESSION['user']['Email'] ?>">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="passwordConfirm">Confirm password:</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        <label for="dateOfBirth">Date of birth:</label>
        <input type="text" name="dateOfBirth" id="dateOfBirth" value="<?=$_SESSION['user']['Birthdate'] ?>">
        <script>
            $('#dateOfBirth').datepicker({dateFormat: 'yy-mm-dd'});
        </script>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" value="<?=$_SESSION['user']['Address'] ?>">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" value="<?=$_SESSION['user']['City'] ?>">
        <label for="zipcode">ZIP code:</label>
        <input type="text" name="zipcode" id="zipcode" value="<?=$_SESSION['user']['ZipCode'] ?>">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="<?=$_SESSION['user']['Country'] ?>">
        <label for="phone">Phone number:</label>
        <input type="text" name="phone" id="phone" value="<?=$_SESSION['user']['Phone'] ?>">

    <?php elseif(isset($_SESSION['user'])): ?>
        <label for="firstName">First name:</label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName" id="lastName">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="passwordConfirm">Confirm password:</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">
        <label for="dateOfBirth">Date of birth:</label>
        <input type="text" name="dateOfBirth" id="dateOfBirth">
        <script>
            $('#dateOfBirth').datepicker({dateFormat: 'yy-mm-dd'});
        </script>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address">
        <label for="city">City:</label>
        <input type="text" name="city" id="city">
        <label for="zipcode">ZIP code:</label>
        <input type="text" name="zipcode" id="zipcode">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country">
        <label for="phone">Phone number:</label>
        <input type="text" name="phone" id="phone">
    <?php endif; ?>

    <?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 1): ?>
    <input type="hidden" name="type" value="update">
    <?php elseif(isset($_SESSION['user'])): ?>
    <input type="hidden" name="type" value="register">
    <?php endif; ?>

    <?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 1): ?>
        <input type="submit" value="Update changes">
    <?php elseif(isset($_SESSION['user'])): ?>
        <input type="submit" value="Sign up">
    <?php endif; ?>
</form>


