<!-- Message de notification -->

<!-- Code HTML à écrire -->

<!-- Liste des aliments -->

    <?php if(isset($_SESSION['user'])): ?>
        <h2> New to our restaurant?<a href="<?= $requestUrl ?>users"> Sign up </a> for special offers and online orders! </h2>
    <?php endif; ?>

    <table class="meal-list"> 
    <?php foreach ($meals as $meal):?>
            <tr>
                <td><h3><?=$meal['Name'];?></h3></td>
                <td><img src="../application/www/images/meals/<?=$meal['Photo'];?>" class="img-responive"></td>
                <td><p> <?=$meal['Description'];?></p></td>
            </tr>    
    <?php endforeach;?>
    </table>        
            