<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>3WA Restaurant</title>
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/normalize-3.0.3.min.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">

    <!-- Feuilles de styles de l'application -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/3wa-resto.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-button.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-form.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/ui-table.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">

    <link rel="stylesheet" href="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.css">
    <!-- Librairie jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="<?= $wwwUrl ?>/js/jquery-ui/jquery-ui.min.js"></script>

    <!-- JavaScript de l'application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>
</head>
<body>

<!-- En-tête commune -->
<header class="clearfix">
    <div class="container">
    <?php if(isset($_SESSION['user'])): ?>
    <div class="login"> Welcome, <?= $_SESSION['user']['Firstname'] ?>
        <button><a href="<?= $requestUrl ?>/users?logout">log out</a></button>
        <button><a href="<?= $requestUrl ?>/users"> Update your profile</a></button>
    </div>
    <?php else: ?>

    <form method="POST" action="<?=$requestUrl?>/users" class="login">
        <?php if(isset($error) && $error): ?>
            <p class="danger"><?= $error; ?></p>
        <?php endif; ?>
        <?php echo isset($_GET['error']) ? 'Please re-try' : '' ?><br>
        <input type="email" name="email" id="logInEmail" placeholder="example@mail.com">
        <input type="password" name="password" id="logInPassword" placeholder="password">

        <input type="hidden" name="type" value="login">

        <input type="submit" name="submitLogIn" value="Log In">
    <?php endif; ?>
    </form>

    <nav class="clearfix">
        <?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 1): ?>
        <ul>
            <li><a href="<?= $requestUrl ?>/orders"> Order online </a></li>
            <li><a href="<?= $requestUrl ?>/booking"> Book online </a></li>
            <li><a href="<?= $requestUrl ?>"> Home </a></li>
        </ul>
        <?php endif; ?>
    </nav>
    </div>
</header>

<!-- Interface utilisateur -->

<main class="container">
    <!-- Generates the right content depending on the user -->
    <?php include $this->viewData['template'] ?>
</main>

<!-- Pied de page commun -->
<footer class="container-fluid">
    <ul class="link-list">
        <li><img src="<?= $wwwUrl ?>/images/payment/visa.png" alt="Visa"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/mastercard.png" alt="MasterCard"></li>
        <li><img src="<?= $wwwUrl ?>/images/payment/paypal.png" alt="PayPal"></li>
    </ul>
    <small>Réalisé avec <i class="fa fa-heart"></i>&nbsp; par les élèves de la 3W Academy</small>
</footer>

<!-- Code principal JavaScript de l'application -->
<script src="<?= $wwwUrl ?>/js/main.js"></script>
</body>
</html>