<?php
?>
    <h2>Total items: <span id="total-items"><?php if(isset($_SESSION['cart'])) { echo sumArrayByField($_SESSION['cart'], 'quantity'); } else { echo '0';}; ?></span></h2>
    <table class="meal-list">
    <?php foreach ($orders as $piece): ?>
        <tr>
            <td><h3><?=$piece["Name"]?></h3></td>
            <td><img src="../application/www/images/meals/<?=$piece['Photo']?>"></td>
            <td><p><?=$piece["Description"]?></p></td>
            <td class="large"><?=$piece["SalePrice"]?>€</td>
            <td><input type="number"></td>
            <td><a class="addToCart button" href="#" data-product-id="<?=$piece['Id']?>">Add to cart</a></td>
        </tr>
    <?php endforeach;?>
    </table>
    <div><a href="<?=$requestUrl;?>/cart" class="large button">Check out</a></div>

