<?php
?>

<!-- User -->

<?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 1): ?>

<form method="POST" class="generic-form">

    <label> Name </label>
    <input type="text" name="name" id="name" value="<?= isset($_SESSION['user']) ? $_SESSION['user']['Firstname'] : '' ?>">
    <label>Phone number</label>
    <input type="text" name="userPhone" id="userPhone" value="<?= isset($_SESSION['user']) ? $_SESSION['user']['Phone'] : '' ?>">
    <label>Please select day of reservation</label></br>
    <input type="text" name="date" id="date">
    <script>
            $('#date').datepicker({dateFormat: 'yy-mm-dd'});
    </script>
    <label>Please select exact time of the day:</label>
    <div class="form-hours">
        <input type="number" name="hours" id="hours" min="11" max="23">
        <input type="number" name="minutes" id="minutes" min="0" max="59">
    </div>
    <label>Seats:</label>
    <input type="number" name="people" id="people">

    <input type="hidden" name="id" id="id" value="<?php ?>">
    <input type="hidden" name="mode" value="create_new">

    <input type="submit" value="Confirm reservation">

</form>

<?php endif; ?>

<!-- Admin -->

<?php if(isset($_SESSION['user']) && $_SESSION['user']['Role'] == 2): ?>
    <form method="POST">
    <table class="generic-table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Contact Phone Number</th>
            <th>Booking Date</th>
            <th>Booking Time</th>
            <th>Number Of Seats</th>
            <th>User_ID</th>
            <th>Time Of Request Sent</th>
        </tr>
        <?php foreach ($booking as $request): ?>
            <tr>
                <td><input type="text" name="Id[]" value="<?=$request["Id"]?>" readonly></td>
                <td><input type="text" name="Name[]" value="<?=$request['Name']?>"></td>
                <td><input type="text" name="ContactNumber[]" value="<?=$request["ContactNumber"]?>"></td>
                <td><input type="text" name="BookingDate[]" value="<?=$request['BookingDate']?>"></td>
                <td><input type="text" name="BookingTime[]" value="<?=$request['BookingTime']?>"></td>
                <td><input type="text" name="NumberOfSeats[]" value="<?=$request['NumberOfSeats']?>"></td>
                <td><input type="text" name="User_Id[]" value="<?=$request['User_Id']?>"></td>
                <td><input type="text" name="CreationTimestamp[]" value="<?=$request['CreationTimestamp']?>"></td>
                <td><a class="deletebooking" href="#" data-booking-id="<?= $request['Id'] ?>">Remove</a></td>
            </tr>
        <?php endforeach;?>
    </table>
        <input type="submit" value="Save Changes">
        <input type="hidden" name="mode" value="table_edit">
    </form>

<?php endif; ?>

