

<?php if(!isset($order_amount)): ?>
<table class="meal-list" style="width:100%;"> 
<?php foreach ($cart as $item): ?>

    <tr>
        <td><h3><?= $item['name']; ?><h3></td>
        <td><img src="../application/www/images/meals/<?=$item['photo']?>"></td>
        <td><p class="large"><?= $item['quantity']; ?><p></td>
        <td><p class="large">Price for each <?= $item['price']; ?>€ </p></td>
        <td><p class="large"> Total Amount <?= $item['total']; ?>€ </p></td>
    </tr>
<?php endforeach; ?>

</table>
<h2> Total amount to pay: <?=sumArrayByField($_SESSION['cart'], 'total'); ?>€</h2>

<a href="<?= $requestUrl ?>/cart?confirm" class="button">Confirm order</a>

<?php else: ?>
<h3>Order placed. Please make a payment </h3>
<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="yourPayPalAccount@email.lt">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="item_name" value="Invoice">
    <input type="hidden" name="amount" value="<?= $order_amount ?>">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
</form>

<?php endif; ?>
