/*
 * Styles des éléments HTML
 */
*
{
    box-sizing: border-box;
}

a
{
    color : #1E593B;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s;
}

body
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Karla', sans-serif;
}


fieldset
{
    /* structure */
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    /* presentation */
    border-color: #1E593B;
    border-radius: 6px;
}
fieldset legend
{
    /* structure */
    padding: 0 0.5em;

    /* presentation */
    color: #1E593B;
    font-weight: bold;
}

footer
{
    /* structure */
    margin-top: 20px;

    /* presentation */
    text-align: center;
    background-color: #000000;
    padding: 20px;
    color: #FFFFFF;
}
footer .fa-heart
{
    color: #EF4036;
}

h1
{
    color: #EF4036;
    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0.15em;
    text-align: center;
}

a:focus, a:hover
 {

    color: #ccd5d1;
     text-decoration: none; 
}
h1 img
{
    margin-right: 0.5em;
    vertical-align: middle;
}

h2
{
    /* structure */
    margin: 1.5em 0;

    /* presentation */
    color: #1E593B;
    text-align: center;
}

html
{
    overflow-y: scroll;
}

header {
    background-color: #000000;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

header li>a, .login>p {
    color: #FFFFFF;
}

td 
{
    padding: 1%;
}


/*
 * Classes génériques
 */
.hidden
{
    display: none;
}

.large
{
    font-size: 125%;
}

.layout-center
{
    text-align: center;
}

.layout-right
{
    bottom: 0;
    position: absolute;
    right: 0;
}

.link-list,
.generic-form ul
{
    /* structure */
    padding-left: 0;
    position: relative;

    /* presentation */
    list-style-type: none;
}
.link-list li
{
    display: inline-block;
}

.small
{
    font-size: 75%;
    vertical-align: bottom;
}


/*
 * CSS de l'interface utilisateur
 */
.user-interface
{
    margin-bottom: 3em;
    margin-top: 3em;
}

.user-interface .welcome
{
    display: inline-block;
    margin: 0 1em;
}
.user-interface .welcome strong
{
    color: #EF4036;
}


/*
 * CSS des tableaux listant des aliments
 */

.meal-list p {
    padding-left: 15px;
}

.meal-list th {
    font-size: 16px;
    text-align: center;
}

.meal-list tr {
    padding-top: 10px;
    padding-bottom: 10px;
}

.meal-list img
{
    border-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.25s;
    vertical-align: middle;
    padding: 10px;
}
.meal-list img + em
{
    margin-left: 1em;
}
.meal-list p
{
    text-align: justify;
    padding: 5px;
}
.meal-list tr:hover img
{
    opacity: 1;
}


.meal-list tr td {
    transition: all 0.25s;
}

.meal-list tr:hover{
    background-color: #999999;
    color: #FFFFFF;
}

.meal-list input[type="number"]{
    width: 50px;
    color: #000000;
}
/*
 * CSS de la page d'accueil
 */
.notice
{
    /* structure */
    margin-bottom: 2em;

    /* presentation */
    background-color: rgba(208, 255, 255, 0.33);
    border: 1px solid #339966;
    border-radius: 6px;
    color: #339966;
    font-size: 1.33em;
    text-align: center;
}


/*
 * CSS de la page de commande
 */
.basket-empty
{
    color: #339966;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.meal-details
{
    /* structure */
    margin-right: 3em;
    margin-top: 1em;
    padding: 0.75em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.meal-details:after
{
    clear: left;
    content: ' ';
    display: block;
}
.meal-details img
{
    float: left;
    margin-right: 1em;
}
.meal-details p
{
    /* structure */
    margin-top: 0;

    /* presentation */
    text-align: justify;
}


/*
 * CSS de la page de récapitulatif de la commande
 */
.invoice
{
    /* structure */
    margin: 2em 0 1em 50%;
    padding: 0 1em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.invoice .city
{
    text-transform: uppercase;
}

.login 
{
    float:right;
    color: #FFFFFF;
}

header>div>nav ul 
{
    list-style: none;
    float: left;
    padding-left: 0px;
}

header nav ul li {
    display: inline-block;
    margin-right: 25px;
}

header>div>nav a {
    font-size: 20px;
}